# Your email credentials to enable the SMTP service
EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=youremailpassword_or_apppassword

# Execution Settings (True or False)
ENABLE_EMAIL_SENDING=True


# RENAME this file to '.env'