# The variable name (as defined in your mapping.json) used as the unique numerical identifier.
# This value is appended to the generated PDF filenames to prevent overwriting (e.g., John_Doe_12345678900.pdf).
# Change it to your specific mapped variable (e.g., ssn, vat, rg).
TAX_ID_FIELD=cpf

# Your email credentials to enable the SMTP service
EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=youremailpassword_or_apppassword

# Execution Settings (True or False)
ENABLE_EMAIL_SENDING=True


# RENAME this file to '.env'